# ─── API CONFIGURATION ───────────────────────────────────────────
# Backend API-nin ünvanı. 
# Mütləq axırında /api/ olmalıdır.
NEXT_PUBLIC_API_URL=burda api adresi

# ─── OTHER CONFIGURATION (Opsional) ──────────────────────────────
# Lazım olarsa əlavə dəyişənlər bura yazıla bilər
# NEXT_PUBLIC_SITE_URL=https://elanaz.az
